/** Afiq Xilantra Azmi
    CoralHR **/
/** Bila finalize, clean up unused selector, minimize css & embed kat html for faster loading experience **/
html, body {width:100%; height:100%; -webkit-font-smoothing: antialiased;}
//@media screen and (max-width: 767px) {html, body {overflow-x: hidden; overflow-y: auto}}

.full {
    position: relative;
    padding-top: 150px;
    display: table;
    width: 100%;
    height: 100%;
    background-color: coral;
    color: #fff;
    overflow: hidden;
    margin: 0;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-attachment: fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}
.full h1 {font-size: 5.3em; font-weight: 300}
@media screen and (max-width: 767px) {.full {padding-top: 20px} .full h1 {font-size: 4.7em}}
section, form, footer {display: table; width:100%; height:auto; padding: 20px;}
section h2 {font-size: 3.3em}
section p {font-size: 1.7em}
footer p{ color: hsla(0, 0%, 100%, 0.64)}
footer small {color: hsla(0, 0%, 100%, 0.25)}
footer a {color: inherit}
.bg-coral {background-color: coral; color: white}
.bg-lightseagreen {background-color: lightseagreen; color: white}
.bg-deepskyblue {background-color: deepskyblue; color: white}
.bg-kuningHensem {background-color: #ffb700; padding: 40px; color: #fff}
@media screen and (max-width: 769px) {[class*="bg-"] {padding-left: 5px !important;padding-right: 5px !important;}}
.bg-coral .btn-margin {margin: 30px 0; color: coral}
.bg-lightseagreen .btn-margin {margin: 30px 0; color: lightseagreen}
.bg-lightseagreen .btn-marginBottom {margin: 270px 0 0 0; color: lightseagreen}
@media screen and (max-width: 769px) {.bg-lightseagreen .btn-marginBottom {margin: 30px 0; color: lightseagreen}}
.bg-kuningHensem .btn-margin {margin: 30px 0; color: #ffb700}
.bg-dark .btn-margin {margin: 30px 0; color: #222}
.bg-clean .btn-margin {margin: 30px 0; color: #444}
.btn-margin:hover, .btn-marginBottom:hover {color: #fff; background: teal}
.vertical-center {display: table-cell; vertical-align: middle}
.besar {padding: 150px 60px}
@media screen and (max-width: 769px) {.besar {padding: 20px}}
.blokKecik {max-width: 750px}
.socialize {max-width: 580px}
.margin-atas {margin-top: 150px}
.socialize .margin-atas {margin-top: 45px}
.icon-desc {padding: 20px 60px}
@media screen and (max-width: 769px) {.mobile-center {text-align: center !important;display: block;margin-left: auto !important;margin-right: auto !important; float: none !important} .mobile-justify {text-align: justify}}
.icon-space {margin-right: 20px}
.subscribe input {width: 100%; background-color: lightseagreen; outline: none; border: none; color: #fff; font-size: 4em; margin-top: 20px;}
.subscribe input::-webkit-input-placeholder {color: #fff}
.subscribe input:-moz-placeholder {color: #fff} /* Firefox 18- */
.subscribe input::-moz-placeholder {color: #fff} /* Firefox 19+ */
.subscribe input:-ms-input-placeholder {color: #fff}
@media screen and (max-width: 769px) {.subscribe input {font-weight: bold;font-size: 1.5em;text-align: center; padding: 15px 0; border-bottom: 4px solid teal}.subscribe button {color: #fff; font-size: 1.5em; text-align: center; padding: 15px}}

.share-buttons img {padding: 5px;border: 0;box-shadow: 0;display: inline}
.bulat-bulat {
    width: 150px;
    height: 150px;
    background-color: #fff;
    color: coral;
    vertical-align: middle;
    line-height: 190px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
}
.cards {
    background-color: #fff;
    color: #666;
    display: block;
    padding: 20px;
    font-size: 1.7em;
    cursor: pointer;
    margin-top: 30px
}

.bg-dark {background-color: #222; color: #fff; }
@media screen and (max-width: 769px) {.bg-dark p{font-size: 1.4em }}
.bg-dark a{color: deepskyblue}
.bg-dark a:hover{color: #ffb700}

.besar-sikit {padding-top: 60px}

.bg-clean {background-color: #e5e5e5; padding-top: 0; color: #555}

.btn-khas {background-color: hotpink; color: white !important}

.bg-transparent {background: transparent; color: rgba(255, 255, 255, 0.95); z-index: 100; padding-top: 5em; margin-left: auto; margin-right: auto}
.bg-transparent .btn-margin {color: rgba(32, 178, 170, 0.8); background-color: rgba(255, 255, 255, 0.81)}
@media screen and (max-width: 767px) {.bg-transparent {max-width: 300px; font-size: .71em}.bg-transparent .btn-margin {padding: 10px 20px; font-size: 2em}}

@media screen and (max-width: 767px) {.btn-mobile-kecik {font-size: 1.2em}}

.fixed {
    background: url(../img/747__1397630488_219.92.14.157.jpg) center center no-repeat fixed;
    height: 300px;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.playVideo {
    position: relative;
    display: inline-block;
    top: -350px;
    font-size: 4em;
    border: 4px solid white;
    padding: 10px;
    background: #fff;
    color: coral;
    cursor: pointer;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-font-smoothing: antialiased;
    -webkit-box-shadow: 0 3px 0 3px rgba(0,0,0,.1);
            box-shadow: 0 3px 0 3px rgba(0,0,0,.1);
    -webkit-transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    
 }

/** Disable hover fx on mobile **/
@media screen and (max-width: 767px) {
    .playVideo {top: -160px;font-size: 2em}
    .full:hover .playVideo {
    -webkit-transform: none !important;
       -moz-transform: none !important;
        -ms-transform: none !important;
         -o-transform: none !important;
            transform: none !important;
    }
}

.full:hover .playVideo {
    transition-delay: 1s;
    -webkit-font-smoothing: antialiased;
    -webkit-transform: scale(1.7) translateY(-50px);
       -moz-transform: scale(1.7) translateY(-50px);
        -ms-transform: scale(1.7) translateY(-50px);
         -o-transform: scale(1.7) translateY(-50px);
            transform: scale(1.7) translateY(-50px);
}

.btn-full {width: 100%}

.btn-theChosen:after {
    font-family: 'FontAwesome';
    content: '\f0d7';
    color: #fff;
    position: absolute;
    font-size: 2em;
    display: block;
    margin-left: 36.5%;
    margin-top: -15px
}
.btn:hover .btn-theChosen:after{color: teal}

.isiTab-Penerangan {padding: 5px 67px; text-align: justify}
@media screen and (max-width: 767px) {.isiTab-Penerangan {padding: 10px; text-align: left}}

.icon-animate {
    -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.penerangan:hover .icon-animate.roket {
    visibility: hidden;
    -webkit-transform: scale(2) translateX(150px) translateY(-150px);
       -moz-transform: scale(2) translateX(150px) translateY(-150px);
        -ms-transform: scale(2) translateX(150px) translateY(-150px);
         -o-transform: scale(2) translateX(150px) translateY(-150px);
            transform: scale(2) translateX(150px) translateY(-150px);
}

.isiTab-peneranganUtama {
    //border-radius: 4px;
    //background: grey;
    border-right: 1px solid rgba(0, 0, 0, 0.11)
}


