/** Afiq Xilantra Azmi
    CoralHR **/
/** Bila finalize, clean up unused css, & embed kat html for faster loading experience **/

/**** kaler ni cantik laaaa #00CED1 ****/
html, body {width:100%; height:100%; -webkit-font-smoothing: antialiased;}
@media screen and (max-width: 767px) {html, body {overflow-x: hidden; overflow-y: auto}}
.browsehappy {text-align: center;  color: #fff; padding: 20px; font-size: 2em}
.browsehappy a {text-decoration: underline}
.full {
    position: relative;
    padding-top: 150px;
    display: table;
    width: 100%;
    height: 100%;
    background: url(../img/747__1397630488_219.92.14.157.jpg) no-repeat center center fixed;
    background-color: coral;
    color: #fff;
    overflow: hidden;
    margin: 0;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}
.full h1 {font-size: 5.3em; font-weight: 300}
@media screen and (max-width: 767px) {.full {padding-top: 20px} .full h1 {font-size: 4.7em}}


section, form, footer {display: table; width:100%; height:auto; padding: 20px; background-color: #e5e5e5 !important; color: #444 !important}
section h2 {font-size: 3.3em}
section p {font-size: 1.7em}
footer p{ color: hsla(0, 0%, 0%, 0.64)}
footer small {color: hsla(0, 0%, 100%, 0.7)}
footer a {color: inherit}
.bg-coral {background-color: coral; color: white}
.bg-lightseagreen {background-color: lightseagreen; color: white}
.bg-deepskyblue {background-color: deepskyblue; color: white}
.bg-kuningHensem {background-color: #ffb700; padding: 40px; color: #fff}
@media screen and (max-width: 769px) {[class*="bg-"] {padding-left: 5px !important;padding-right: 5px !important;}}
.bg-coral .btn-margin {margin: 30px 0; color: coral}
.bg-lightseagreen .btn-margin {margin: 30px 0; color: lightseagreen}
.bg-lightseagreen .btn-marginBottom {margin: 270px 0 0 0; color: lightseagreen}
@media screen and (max-width: 769px) {.bg-lightseagreen .btn-marginBottom {margin: 30px 0; color: lightseagreen}}
.bg-kuningHensem .btn-margin {margin: 30px 0; color: #ffb700}
.bg-dark .btn-margin {margin: 30px 0; color: #222}
.bg-clean .btn-margin {margin: 30px 0; color: #444}
.btn-margin:hover, .btn-marginBottom:hover {color: #fff; background: teal}
.vertical-center {display: table-cell; vertical-align: middle}
.besar {padding: 150px 60px}
@media screen and (max-width: 769px) {.besar {padding: 20px}}
.blokKecik {max-width: 750px}
.socialize {max-width: 580px}
.margin-atas {margin-top: 150px}
.socialize .margin-atas {margin-top: 45px}
.icon-desc {padding: 20px 60px}
@media screen and (max-width: 769px) {.mobile-center {text-align: center !important;display: block;margin-left: auto !important;margin-right: auto !important; float: none !important} .mobile-justify {text-align: justify}}
.icon-space {margin-right: 20px}
.subscribe input {width: 100%; background-color: #e5e5e5; outline: none; border: none; color: #444; font-size: 4em; margin-top: 20px;
-webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
     -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;}
.subscribe:hover input {background-color: #fff}
.subscribe input::-webkit-input-placeholder {color: #444}
.subscribe input:-moz-placeholder {color: #444} /* Firefox 18- */
.subscribe input::-moz-placeholder {color: #444} /* Firefox 19+ */
.subscribe input:-ms-input-placeholder {color: #444}
@media screen and (max-width: 769px) {.subscribe input {font-weight: bold;font-size: 1.5em;text-align: center; padding: 15px 0; border-bottom: 4px solid teal}.subscribe button {color: #fff; font-size: 1.5em; text-align: center; padding: 15px}}

.share-buttons img {padding: 5px;border: 0;box-shadow: 0;display: inline}
.bulat-bulat {
    width: 150px;
    height: 150px;
    background-color: #fff;
    color: coral;
    vertical-align: middle;
    line-height: 190px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
}
.cards {
    background-color: #fff;
    color: #666;
    display: block;
    padding: 20px;
    font-size: 1.7em;
    cursor: pointer;
    margin-top: 30px
}

.bg-dark {background-color: #222; color: #fff; }
@media screen and (max-width: 769px) {.bg-dark p{font-size: 1.4em }}
.bg-dark a{color: deepskyblue}
.bg-dark a:hover{color: #ffb700}

.besar-sikit {padding-top: 60px}

.bg-clean {background-color: #e5e5e5; padding-top: 0; color: #555}
.bg-clean.besar {padding-top: 50px; padding-bottom: 150px}

.btn-khas {background-color: hotpink; color: white !important}

.bg-transparent {
    color: rgba(255, 255, 255, 0.95); 
    padding-top: 5em; 
    margin-left: auto; 
    margin-right: auto; 
    background: url(../img/grobok.jpg) center center no-repeat fixed;
    background-color: coral;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;   
}
.bg-transparent .btn-margin {color: rgba(32, 178, 170, 0.8); background-color: rgba(255, 255, 255, 0.81)}
@media screen and (max-width: 767px) {.bg-transparent {padding-bottom: 50px }.bg-transparent .btn-margin {padding: 10px; font-size: 1.6em}}

@media screen and (max-width: 767px) {.btn-mobile-kecik {font-size: 1.2em}}

.fixed {
    background: url(../img/747__1397630488_219.92.14.157.jpg) center center no-repeat fixed;
    height: 300px;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.playVideo {
    position: relative;
    display: inline-block;
    top: -350px;
    font-size: 4em;
    border: 4px solid white;
    padding: 10px;
    background: #fff;
    color: coral;
    cursor: pointer;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-font-smoothing: antialiased;
    -webkit-box-shadow: 0 3px 0 3px rgba(0,0,0,.1);
            box-shadow: 0 3px 0 3px rgba(0,0,0,.1);
    -webkit-transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    
 }

/** Disable hover fx on mobile **/
@media screen and (max-width: 767px) {
    .playVideo {top: -160px;font-size: 2em}
    .full:hover .playVideo {
    -webkit-transform: none !important;
       -moz-transform: none !important;
        -ms-transform: none !important;
         -o-transform: none !important;
            transform: none !important;
    }
}

.full:hover .playVideo {
    transition-delay: 1s;
    -webkit-font-smoothing: antialiased;
    -webkit-transform: scale(1.7) translateY(-50px);
       -moz-transform: scale(1.7) translateY(-50px);
        -ms-transform: scale(1.7) translateY(-50px);
         -o-transform: scale(1.7) translateY(-50px);
            transform: scale(1.7) translateY(-50px);
}

.btn-full {width: 100%}

.btn-theChosen:after {
    font-family: 'FontAwesome';
    content: '\f0d7';
    color: teal;
    position: absolute;
    font-size: 2em;
    display: block;
    margin-left: 34.5%;
    margin-top: -15px;
}
@media screen and (max-width: 767px) {.btn-theChosen:after {margin-left: 28%}}


.isiTab-Penerangan {padding: 5px 67px; text-align: justify}
@media screen and (max-width: 767px) {.isiTab-Penerangan {padding: 10px; text-align: left}}

.icon-animate {
    -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
/**
.penerangan:hover .icon-animate.roket {
    visibility: hidden;
    -webkit-transform: scale(2) translateX(150px) translateY(-150px);
       -moz-transform: scale(2) translateX(150px) translateY(-150px);
        -ms-transform: scale(2) translateX(150px) translateY(-150px);
         -o-transform: scale(2) translateX(150px) translateY(-150px);
            transform: scale(2) translateX(150px) translateY(-150px);
}
**/
.isiTab-peneranganUtama {
    //border-radius: 4px;
    //background: grey;
    border-right: 1px solid rgba(0, 0, 0, 0.11)
}

.tab-content{display: none}
.tab-link.current{background: teal; color: #fff}
.tab-content.current{display: inherit}

/** Efek **/
.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}@-webkit-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}@keyframes fadeIn{0%{opacity:0}100%{opacity:1}}.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn}@-webkit-keyframes bounceInRight{0%{opacity:0;-webkit-transform:translateX(2000px);transform:translateX(2000px)}60%{opacity:1;-webkit-transform:translateX(-30px);transform:translateX(-30px)}80%{-webkit-transform:translateX(10px);transform:translateX(10px)}100%{-webkit-transform:translateX(0);transform:translateX(0)}}@keyframes bounceInRight{0%{opacity:0;-webkit-transform:translateX(2000px);-ms-transform:translateX(2000px);transform:translateX(2000px)}60%{opacity:1;-webkit-transform:translateX(-30px);-ms-transform:translateX(-30px);transform:translateX(-30px)}80%{-webkit-transform:translateX(10px);-ms-transform:translateX(10px);transform:translateX(10px)}100%{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}}.bounceInRight{-webkit-animation-name:bounceInRight;animation-name:bounceInRight}@-webkit-keyframes bounceOutRight{0%{-webkit-transform:translateX(0);transform:translateX(0)}20%{opacity:1;-webkit-transform:translateX(-20px);transform:translateX(-20px)}100%{opacity:0;-webkit-transform:translateX(2000px);transform:translateX(2000px)}}@keyframes bounceOutRight{0%{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}20%{opacity:1;-webkit-transform:translateX(-20px);-ms-transform:translateX(-20px);transform:translateX(-20px)}100%{opacity:0;-webkit-transform:translateX(2000px);-ms-transform:translateX(2000px);transform:translateX(2000px)}}.bounceOutRight{-webkit-animation-name:bounceOutRight;animation-name:bounceOutRight}@-webkit-keyframes bounceInLeft{0%{-webkit-transform:translateX(-2000px);transform:translateX(-2000px)}60%{-webkit-transform:translateX(30px);transform:translateX(30px)}80%{-webkit-transform:translateX(-10px);transform:translateX(-10px)}100%{-webkit-transform:translateX(0);transform:translateX(0)}}@keyframes bounceInLeft{0%{-webkit-transform:translateX(-2000px);-ms-transform:translateX(-2000px);transform:translateX(-2000px)}60%{-webkit-transform:translateX(30px);-ms-transform:translateX(30px);transform:translateX(30px)}80%{-webkit-transform:translateX(-10px);-ms-transform:translateX(-10px);transform:translateX(-10px)}100%{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}}.bounceInLeft{-webkit-animation-name:bounceInLeft;animation-name:bounceInLeft}@-webkit-keyframes bounceOutLeft{0%{-webkit-transform:translateX(0);transform:translateX(0)}20%{-webkit-transform:translateX(20px);transform:translateX(20px)}100%{-webkit-transform:translateX(-2000px);transform:translateX(-2000px)}}@keyframes bounceOutLeft{0%{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}20%{-webkit-transform:translateX(20px);-ms-transform:translateX(20px);transform:translateX(20px)}100%{-webkit-transform:translateX(-2000px);-ms-transform:translateX(-2000px);transform:translateX(-2000px)}}.bounceOutLeft{-webkit-animation-name:bounceOutLeft;animation-name:bounceOutLeft}.efekMembesar {-webkit-transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);-moz-transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);-ms-transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);-o-transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55)}.efekMembesar:hover{-webkit-transform: scale(2);-moz-transform: scale(2);-ms-transform: scale(2);-o-transform: scale(2);transform: scale(2)}
@media screen and (max-width: 767px) {
.mobileFont-small {
    font-size: 1em; 
     padding-left:5px; 
    padding-right:5px; 
    font-weight: 600;
}
.resetMargin {
    margin-right:-15px;    
    margin-left:-15px;  
    padding-right: 20px;
    width: 130px;
}
.isiTab-peneranganUtama {background-color: #444; color: #fff; border-radius: 4px}
}
 
.entahLaNak {
    padding-top: 100px;
    padding-bottom: 50px
}

@media screen and (max-width: 767px) {.entahLaNak {padding-top: 50px;}}

section h4 {font-weight: 500; font-size: 2em; background-color: lightslategray; color: #fff; width: 300px; padding: 20px 0; margin: 20px auto; border-radius: 4px; box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.2); border: 1px solid rgba(255, 255, 255, 0.9)}

@media screen and (max-width: 767px) {section h4 {width: 100%}}



.vr {
    height: 300px;
    border-left: 2px solid rgba(0, 0, 0, 0.12);
    position: absolute;
    margin-top: 50px;
    left: 50%;
}
@media screen and (max-width: 767px) {.vr {display: none}}

.kecik-sikit {max-width: 80%; margin: 0 auto}

.tellThemMore {
    padding:40px;
    color: white;
    border-radius: 4px;  
    background-color: lightslategray;
    -webkit-box-shadow: 0 0 20px 1px rgba(0,0,0,.3);
            box-shadow: 0 0 20px 1px rgba(0,0,0,.3);
                border: 1px solid rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 767px) {.kecik-sikit {max-width: 100%;}.tellThemMore {padding: 20px; text-align: left; font-size: 1.4em}}



.logo {background: transparent; height: 400px}
@media screen and (max-width: 767px) {.logo {height: 250px}}
